Flask==3.0.3
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
pandas==2.2.2
psycopg2-binary==2.9.9
gunicorn==22.0.0
